:root{
  --c-bg:#161B39;
  --c-fg:#DFE0D8;
  --c-fg-weak:none;
  --fs-base:14pt;
}

.list-group-item {
    background-color:transparent !important;
    border: 2px solid #161B39 !important;
    border-radius: 0;
    color: #161B39 !important;
    opacity: 60;
}

.list-group-numbered .list-group-item::before {
  background-color: transparent !important;
  color: #161B39;
  border: 2px solid #161B39;
}

body{
  font-family:'Orbitron'; 
  font-size:var(--fs-base);
  line-height:1.45;
}

/*Background imafe Philipp Katzenberger (Unsplash)
https://unsplash.com/photos/iIJrUoeRoCQ */

body {
    background-image: url("../assets/images/philipp-katzenberger-iIJrUoeRoCQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.navbar .nav-link{
  color:var(--c-fg) !important;
  font-weight:600;
  letter-spacing:.5px;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus{color:#DEF0D8 !important;}
.navbar-brand img{ height:90px;}

.section-beige{
  background: #DFE0D8; color:#161B39;
  padding:3rem 0;
}

.section-beige .content-narrow {max-width:980px;}

.section-beige{
  background: #DFE0D8; color: #161B39;
  padding:3rem 0;
}

/*that is thinn beige stripe in bottom of all pages under the icons, i can't to find how to make 
icons beige , to be able to remove this underground beige stripe*/
.bottom-band{
  background: url('../assets/images/Asset 13-100.jpg') center/cover no-repeat;
  min-height:90px;
  display:flex; align-items:center; justify-content:flex-end;
  gap:1rem; padding:0 1.25rem;
}

.footer-icons a{
  display:inline-flex; align-items:center; justify-content:center;
  width:40px; height:40px; border-radius:8px;
  color:#DEF0D8; border:1,5px solid var(--c-fg);
}

.map { 
  height: 400px; }

.contact-btn {
  background-color: #161B39 !important;
  border-color: #161B39 !important;
  color: #DFE0D8 !important;
  padding: 15px;
  font-size: 0.9rem;
  display: block;
  border-radius: 8px;
  line-height: 1.4;
  margin-top: 25px;
}
